
<html>
<body>
    <h3>Previsão do preço do Imóvel</h3>

<div>
  <form action="/result" method="POST">
   <label for="zona">Zona</label>
    <select id="zona" name="zona">
       <option value="0">Baixa Densidade</option>
       <option value="1">Alta Densidade</option>
     </select>
    <br>
    <label for="area">Área ocupada pelo imóvel</label>
    <input type="text" id="area" name="area">(em pés quadrados)
    <br>
    <label for="Qualidade">Qualidade do imóvel</label>
    <input type="number" id="Qualidade" name="Qualidade" min="0" max="10">([0-10])
    <br>
    <label for="AnoConstrucao">Ano de construção do imóvel</label>
    <input type="number" id="AnoConstrucao" name="AnoConstrucao" min="1800" max="2100" value="2019" >
    <br>
    <label for="QualidadeAquecimento">Qualidade do Aquecimento</label>
    <select id="QualidadeAquecimento" name="QualidadeAquecimento">
      <option value="0">Aceitável</option>
      <option value="1">Mediano</option>
      <option value="2">Bom</option>
      <option value="3">Exelente</option>
    </select>
    <br>
    <label for="banheiro">Quantidade de Banheiros</label>
    <input type="number" id="banheiro" name="banheiro" min="1" max="10">
    <br>
    <label for="quartost1">Quartos do tipo 1</label>
    <input type="number" id="quartost1" name="quartost1" min="0" max="10">
    <br>
    <label for="quartost2">Quartos do tipo 2</label>
    <input type="number" id="quartost2" name="quartost2" min="0" max="10">
    <br>
    <label for="comodos">Número de cômodos</label>
    <input type="number" id="comodos" name="comodos" min="1" max="10">
    <br>
    <label for="Lareiras">Número de Lareiras</label>
    <input type="number" id="Lareiras" name="Lareiras" min="0" max="10">
    <br>
    <label for="Garagem">Número de carros que cabem na garagem</label>
    <input type="number" id="Garagem" name="Garagem" min="0" max="10">
    <br>
  <input type="submit" value="Prever">
  </form>
</div>
</body>
</html>
